* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'Media Markt';
    src: url(mediamarkt.ttf) format('truetype');
}
@font-face {
    font-family: 'Media Markt Preis';
    src: url(mediamarktpreis.ttf) format('truetype');
}
@font-face {
    font-family: 'Georgia1';
    src: url(georgia.ttf) format('truetype');
}
@font-face {
    font-family: 'Constantia1';
    src: url(constan.ttf) format('truetype');
}
@font-face {
    font-family: 'BODO1';
    src: url(bodr.ttf) format('truetype');
}
img {
    position: absolute;
}
textarea {
    border: 3px solid transparent;
    outline: none;
    resize: none;
    font-family: Media Markt;
    position: absolute;
    font-size: 30px;
    background: transparent;
    padding: 0.1em;
    overflow: hidden;
}
textarea:not([readonly]) {
    border: 3px solid #999;
     animation: blink .5s step-end infinite alternate;
}
@keyframes blink {
   50% { border-color: transparent; }
}
#news1schlag {
    top: 5px;
    left: 430px;
    width: 620px;
    height: 80px;
    font-family: Georgia1; font-size: 40px; 
    color: red;
}
#news1spruch {
    top: 100px;
    left: 485px;
    width: 540px;
    height: 120px;
    color: white;
	font-family: Georgia1; font-size: 87px; font-weight: bold;
}
#news1text1 {
    top: 255px;
    left: 160px;
    width: 905px;
    height: 280px;
    font-family: Georgia1; font-size: 29px; 
    color: red;
}
#news1text2 {
    top: 825px;
    left: 690px;
    width: 380px;
    height: 30px;
    font-family: Georgia1; font-size: 17px; 
    color: black;
}
#news2schlag {
    top: 540px;
    left: 15px;
    width: 620px;
    height: 50px;
    font-family: Constantia1; font-size: 30px; font-weight: bold; 
	transform: rotate(-1deg);
}
#news2text1 {
    top: 590px;
    left: 20px;
    width: 660px;
    height: 490px;
    font-family: Constantia1; font-size: 28px; 
	transform: rotate(-1deg);
}
#news3schlag {
    top: 1105px;
    left: 15px;
    width: 310px;
    height: 50px;
    font-family: Bodo1; font-size: 32px; font-weight: bold; 
}
#news3text1 {
    top: 1170px;
    left: 15px;
    width: 310px;
    height: 400px;
    font-family: Bodo1; font-size: 27px; 
}
#news4schlag {
    top: 1105px;
    left: 350px;
    width: 310px;
    height: 50px;
    font-family: Bodo1; font-size: 32px; font-weight: bold; 
}
#news4text1 {
    top: 1170px;
    left: 350px;
    width: 310px;
    height: 400px;
    font-family: Bodo1; font-size: 27px; 
}
#preis {
    top: 1120px;
    left: 720px;
    width: 300px;
    height: 120px;
    font-size: 100px;
    color: white;
    font-family: Media Markt Preis; 
}
#preisinfo1a {
    top: 1405px;
    left: 705px;
    width: 230px;
    height: 40px;
    font-family: 'Georgia1'; font-size: 27px; 
    color: black;
}
#preisinfo1b {
    top: 1405px;
    left: 955px;
    width: 80px;
    height: 40px;
    font-family: 'Georgia1'; font-size: 27px; 
    color: black;
}
#preisinfo2a {
    top: 1455px;
    left: 705px;
    width: 230px;
    height: 40px;
    font-family: 'Georgia1'; font-size: 27px; 
    color: black;
}
#preisinfo2b {
    top: 1455px;
    left: 955px;
    width: 80px;
    height: 40px;
    font-family: 'Georgia1'; font-size: 27px; 
    color: black;
}
#preisinfo3a {
    top: 1505px;
    left: 705px;
    width: 230px;
    height: 40px;
    font-family: 'Georgia1'; font-size: 27px; 
    color: black;
}
#preisinfo3b {
    top: 1505px;
    left: 955px;
    width: 80px;
    height: 40px;
    font-family: 'Georgia1'; font-size: 27px; 
    color: black;
}
#preisinfo4a {
    top: 1555px;
    left: 705px;
    width: 230px;
    height: 40px;
    font-family: 'Georgia1'; font-size: 27px; 
    color: black;
}
#preisinfo4b {
    top: 1555px;
    left: 955px;
    width: 80px;
    height: 40px;
    font-family: 'Georgia1'; font-size: 27px; 
    color: black;
}
#preisinfo5a {
    top: 1605px;
    left: 705px;
    width: 230px;
    height: 40px;
    font-family: 'Georgia1'; font-size: 27px; 
    color: black;
}
#preisinfo5b {
    top: 1605px;
    left: 955px;
    width: 80px;
    height: 40px;
    font-family: 'Georgia1'; font-size: 27px; 
    color: black;
}